*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}


.card{
    height: 130px;
    width: 100px;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
}

.card>img{
    width: 100%;
}